$first-color: rgb(63, 232, 51);
$first-alpha-color: rgb(48, 227, 34);
$second-color: rgb(20, 25, 45);
$second-alpha-color: rgba(20, 25, 45, 0.75);
$third-alpha-color: rgba(236, 255, 75, 0.75);

$link-color: rgb(245, 245, 245);
$link-alpha-color: rgb(245, 245, 245, 0.75);

$bg-color: rgb(245, 245, 245);
$bg-alpha-color: rgba(245, 245, 245, 0.40);
